
    </div>

    <footer>
        <div class="container text-center">
            <p class="float-left">© 2018 SportBets, Inc. All Rights Reserved</p>
        </div>
    </footer>

</body>

<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/popper.min.js"></script>
<script src="/js/main.js"></script>
</html>